.banner {
  width: 100%;
  background-image: var(--gradient-1);
  color: var(--white);
  height: 75px;
  display: flex;
  align-items: center;
}

.inner {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 var(--gap);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner p {
  color: var(--white);
  margin: 0;
  transition: color 0.15s ease;
}

.mobile {
  display: none;
}

@media (max-width: 640px) {
  .banner {
    height: unset;
  }
  .desktop {
    display: none;
  }
  .email-form {
    padding: 5px;
    margin: auto;
    text-align: center;
  }
  .mobile {
    display: block;
    padding-bottom: 5px;
  }
}
