.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1000;
  background: var(--accents-4);
  border-bottom: var(--header-border-bottom);
}
.sticky {
  position: sticky;
  top: 0;
}
