.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  padding: var(--gap-quarter) var(--gap-half);
  margin: calc(-1 * var(--gap-quarter)) calc(-1 * var(--gap-half));
  border-radius: var(--radius);
  color: var(--accents-1);
  background-color: transparent;
  border: none;
  font-size: inherit;
  line-height: inherit;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  outline: none;
}
.btn:hover {
  color: var(--accents-1);
  background: rgba(45, 171, 165, 0.1);
}
.btn.invert {
  margin: 0;
  padding: 0 3.5rem;
  height: 2.81rem;
  line-height: 2.8rem;
  border-radius: var(--radius);
  background-color: var(--accents-1);
  box-shadow: 0 4px 14px 0 rgba(45, 171, 165, 0.39);
  color: var(--white);
}
.btn.invert:hover {
  background: var(--accents-2);
  box-shadow: 0 6px 20px rgba(45, 171, 165, 0.23);
}
.btn.invert:active {
  background: var(--accents-2);
}
.btn.invert.outline {
  background: var(--white);
  color: #696969;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
}
.btn.invert.outline:hover {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 20px rgba(93, 93, 93, 0.23);
}
