.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: right;
  flex-direction: row;
}

.main.reverse {
  flex-direction: row-reverse;
  text-align: left;
}

.main p {
  margin: 0 0 0 var(--gap-triple);
  align-self: center;
  line-height: 2;
}

.main.reverse p {
  margin: 0 var(--gap-triple) 0 0;
}

@media screen and (max-width: 960px) {
  .main,
  .main.reverse {
    flex-direction: column;
    text-align: center;
  }
  .main p,
  .main.reverse p {
    padding: 0 var(--gap);
    margin: 0;
  }
}
