.main {
  position: relative;
  display: flex;
  margin: var(--gap) 0;
  flex-direction: row;
}
.main.reverse {
  flex-direction: row-reverse;
}
.main.reverse .content {
  margin: 0 var(--gap-triple) 0 0;
}
.content {
  margin: 0 0 0 var(--gap-triple);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content :global(a) {
  align-self: center;
}
@media screen and (max-width: 960px) {
  .main {
    flex-direction: column;
    text-align: center;
  }
  .content {
    padding: 0 var(--gap);
    margin: 0;
  }
}
