.root {
  min-height: 100px;
  z-index: 10000;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--accents-1);
}

.content {
  display: flex;
  flex: 1;
}

.root a:hover {
  color: var(--bg);
}

.content > :global(div.tl),
.content > :global(div.tr) {
  flex: 0 1 25%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.social {
  display: flex;
  align-items: center;
}

.social > a {
  display: inline-flex;
  padding: 5px;
}

@media (max-width: 960px) {
  .root {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .content > * {
    text-align: center;
  }
}
