.root {
  min-height: 100px;
  z-index: 10000;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  background-color: var(--header-bg);
  text-align: center;
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.root a:hover {
  color: var(--bg);
}

.download {
  display: flex;
  align-items: center;
}

.download > a {
  display: inline-flex;
  padding: 5px;
}

@media (max-width: 496px) {
  .root {
    margin-top: 4rem;
    min-height: 400px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 70px;
  }
}
