.root {
  height: 100px;
  z-index: 10000;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  background-color: var(--header-bg);
  bottom: 0;
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.root a:hover {
  color: var(--bg);
}

@media (max-width: 496px) {
  .root {
    margin-top: 4rem;
    min-height: 400px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 70px;
  }
}
