@import './nprogress.css';
@import './inter.css';

:root {
  /* Spacing */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --gap-triple: 3rem;
  --small-gap: 4rem;
  --radius: 8px;
  --header-height: 5rem;

  /* Static Colors */
  --accents-1: #009a94;
  --accents-2: #2daba5;
  --accents-3: #365b6d;
  --accents-4: #f2f1ec;
  --accents-5: #999999;
  --accents-6: #888888;
  --accents-7: #666666;
  --accents-8: #333;
  --white: #fff;
  --black: #000;
  --header-border-bottom: 1px solid #eaeaea;

  /* Typography */
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace;

  --gradient-1: linear-gradient(270deg, #111111, #333333, #333333, #111111);
  --shadow-hover: 0 30px 60px -12px rgba(0, 0, 0, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  line-height: 1.65;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  direction: ltr;
  font-feature-settings: 'kern';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}

html,
body {
  background-color: var(--accents-4);
  color: var(--black);
}

.fp {
  color: var(--accents-1);
}
.fs {
  color: var(--accents-3);
}

.image.radius {
  border-radius: var(--radius);
}

.image.shadow {
  box-shadow: var(--shadow-hover);
}

::selection {
  background-color: var(--accents-1);
  color: var(--white);
}
.paragraph {
  border-top: 1px solid var(--accents-1);
  border-bottom: 1px solid var(--accents-1);
  padding: var(--gap-double);
}

svg {
  text-rendering: optimizeLegibility;
  shape-rendering: crispEdges;
}

svg path,
svg circle {
  shape-rendering: geometricprecision;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;
  color: currentColor;
  transition: color 200ms ease-in-out;
}

a:hover {
  color: var(--accents-4);
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

img {
  max-width: 100%;
  width: auto;
  margin: auto;
  display: block;
}

.f-reset {
  font-size: 1rem;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.row {
  display: flex;
  align-items: center;
  margin: 0 -1.5rem;
}
a[role='button'] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.no-drag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.fw1 {
  font-weight: 100;
}
.fw2 {
  font-weight: 200;
}
.fw3 {
  font-weight: 300;
}
.fw4 {
  font-weight: 400;
}
