@import './nprogress.css';
@import './inter.css';

:root {
  /* Spacing */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --gap-triple: 3rem;
  --small-gap: 4rem;
  --big-gap: 10rem;
  --main-content: 90rem;
  --other-content: 45rem;
  --radius: 8px;
  --inline-radius: 5px;

  --input-height: 40px;
  --input-width-small: 80px;
  --input-width-large: 173px;
  --box-shadow: 0px 8px 16px #3133351f;

  /* Light Mode Colors */
  --bg: #fafbfc;
  --fg: #131415;
  --gray: #666;
  --light-gray: #444;
  --lighter-gray: #222;
  --lightest-gray: #1a1a1a;
  --header-bg: rgba(19, 20, 21, 0.8);
  --gray-alpha: rgba(255, 255, 255, 0.3);
  --selection: rgba(255, 255, 255, 0.99);

  --accents-1: #009a94;
  --accents-2: #2daba5;
  --accents-3: #365b6d;
  --accents-4: #f2f1ec;
  --accents-5: #ffffff;

  /* Static Colors */
  --blue: #007aff;
  --green: #34c759;
  --indigo: #5856d6;
  --orange: #ff9500;
  --pink: #ff2d55;
  --purple: #af52de;
  --red: #ff3b30;
  --teal: #5ac8fa;
  --yellow: #ffcc00;
  --blue-gray: #37609c;

  /* Typography */
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: 'Consolas', monospace;

  /* Transitions */
  --transition: 0.1s ease-in-out;
  --transition-slow: 0.3s ease-in-out;
}

.dark {
  --fg: #fff;
  --bg: #000;
  --gray: #888;
  --light-gray: #dedede;
  --lighter-gray: #f5f5f5;
  --lightest-gray: #fafafa;
  --header-bg: rgba(255, 255, 255, 0.8);
  --gray-alpha: rgba(19, 20, 21, 0.3);
  --selection: rgba(0, 0, 0, 0.99);
}

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: var(--selection);
  color: var(--bg);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: var(--bg);
  color: var(--fg);
  font-display: block;
  font-feature-settings: 'calt' 'case' 'rlig';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
}

svg {
  transition: fill 0.1s ease-in-out, stroke 0.1s ease-in-out;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: 600;
  line-height: 1.75;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.89px;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.69px;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.47px;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.33px;
}

hr {
  border: none;
  border-bottom: 1px solid var(--light-gray);
  transition: border-color 0.1s ease-in-out;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
}

article {
  max-width: var(--main-content);
  margin: 0 auto;
  line-height: inherit;
}

article > * + * {
  margin-top: 2em;
}

a,
a.reset {
  /* outline: none;
  color: inherit;
  text-decoration: none; */
  transition: color var(--transition);
}

p a:hover,
p a:focus,
p a:active,
a.reset:hover,
a.reset:focus {
  color: var(--gray);
}

article pre {
  overflow-x: auto;
  background: var(--lighter-gray);
  border-radius: var(--inline-radius);
  line-height: 1.6;
  padding: 1rem;
}

article img {
  max-width: 100%;
  width: var(--main-content);
  border-radius: var(--radius);
}

label input {
  font-family: var(--font-sans);
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  text-align: center;
  background: var(--bg);
  transition: border 0.2s ease, color 0.2s ease;
  color: var(--fg);
}

label input:hover,
label input:focus {
  border-color: var(--fg);
}

input,
button,
textarea,
select {
  font: inherit;
  text-align: center;
  background: var(--bg);
}

*:focus {
  outline: none;
}

.input::placeholder {
  color: var(--gray);
  text-align: center;
}

.no-drag {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.f0 {
  font-size: 1.802032470703125em;
}
.f1 {
  font-size: 1.601806640625em;
}
.f2 {
  font-size: 1.423828125em;
}
.f3 {
  font-size: 1.265625em;
}
.f4 {
  font-size: 1.125em;
}
.f5 {
  font-size: 0.8888888888888888em;
}
.f6 {
  font-size: 0.7901234567901234em;
}
.fw1 {
  font-weight: 100;
}
.fw2 {
  font-weight: 200;
}
.fw3 {
  font-weight: 300;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7 {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}
.fw9 {
  font-weight: 900;
}
