article {
  /* max-width: var(--main-content); */
  margin: 0 auto;
  line-height: 1.9;
}

article p {
  color: var(--article-color);
  transition: color var(--transition);
}

article img {
  max-width: 100%;
  width: var(--main-content);
  width: auto;
  margin: auto;
  display: block;
}
